<a href="https://colab.research.google.com/github/rahultj333/RJ--Capstone-Project--Play-Store-App-Analysis-/blob/main/RAHUL_J_Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market.
Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.
Explore and analyze the data to discover key factors responsible for app engagement and success.**

# **Problem Statement**

1) Two datasets are provided, one with basic information of Play Store App  and 
Second one is of users reviews.

2) Every row contains various entries regarding a certain app. We will be doing Exploratory data analysis on this data set, which is a very important step in data science cycle, as it not only helps in taking very initial business decisions .Our objective will be to structure the data, clean it and present certain trends that we observe that can help us draw very preliminary conclusions about the probability of success of a newly launched app.  Also our objective is to Explore and analyze the data to discover key factors responsible for app engagement and success.

3) We have to make a valuable insights from both the datasets in order to identify the important characteristics.

# **Dataset Construction**

	Mounting the drive : Because of Mounting we can access csv file to do analysis

	Loading Datasets : Two datasets is there in project First is store app and Second is User Reviews 

	Import Libraries: Compulsory to use Libraries like Numpy , Pandas , Matplotlib and Seaborn .

	When your using Google colab then this necessary to use %matplotlib inline where plot graphics will appear in your notebook

	Data Cleaning: Removing Outliers , Finding and Removing Null values

	Data Assings: Replacing the Null Values with Mean ,Median & Mode with its suitable Condition.

	Query Analysis: Analayzing the data sets to points of interest using visualization.

In [1]:
#importing libraries used in the project

import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# To access data set from drive mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Read the CSV files 
path_review='/content/drive/MyDrive/ALMABETTER - DATA SCI/DATA OF PROGRAM/User Reviews.csv'
path_data='/content/drive/MyDrive/ALMABETTER - DATA SCI/DATA OF PROGRAM/Play Store Data.csv'
df1=pd.read_csv(path_review)
df2=pd.read_csv(path_data)

### First we will analyse and clean the first data set (User Review) and after that we'll analyse and clean the second data set(Play Store Data).

#User Review Data exploration

User reviews dataset.csv: shape(64295,5)
 This file contain 5 features that is:

i.	App: Its contain Apps Name.

ii.	Translated Review: It contain reviews

iii.	Sentiments: It contain Positive ,Negative, Neutral Sentiments.

iv.	Sentiment Subjectivity:It contain Numeric values between negative to positive 1.

v.	Sentiment Polarity: defines the orientation of the expressed sentiment

In [4]:
# Let's check the first few rows 
df1.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [5]:
# Let's check the last few rows
df1.tail()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [6]:
# Checking the shape of the dataframe
df1.shape

(64295, 5)

In [7]:
# Getting the idea of the dataset to know about the non-null count of each column.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [8]:
# Let's know the sum of null values in each column.
df1.isna().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

#Play Store App Data Exploration

Play store dataset.csv: shape(10841,13)
This file contain 13 features that is: 

i.	App: Name of Apps.

ii.	Category:Category of Apps (ART_AND_DESIGN,FINANCE,COMIC,COMMUNICATION,GAME etc)

iii.	Rating:Rating on app and it is between 0 to 5 

iv.	Reviews:Total Users given reviews on every app

v.	Size:Size is in Megabytes(MB)

vi.	Installs:Number of times the app was downloaded from google play

vii.	Type:Type is Paid or Free

viii.	Price:Price is in $

ix.	Content Rating:Which Age Group have Rated the App

In [9]:
# Let's check the first few rows 

df2.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [10]:
# Let's check the last few rows 

df2.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [11]:
# Checking the shape of the dataframe

df2.shape

(10841, 13)

In [12]:
# Getting the idea of the dataset to know about the non-null count of each column.

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB